.sq-audience-editor{
	overflow: hidden;
	max-height: 80%;
}
.sq-audience-editor.ees_Bubble{
	width: 740px;
}
.metadata .cellData .sq-audience-list__item{
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	background: #d5e3f1;
	border-radius: 4px;
}

#edit-audiences-button{
	padding: 0.5em 1em;
	margin-bottom: 1em;
}
.sq-edit-audience__list{
	list-style-type: none;
	text-align: left;
}
.sq-edit-audience__item {
	box-shadow: 1px 1px 6px -2px black;
	padding: 1em;
	position: relative;
	margin-bottom: 1em;
	transition: 1s background ease-out;
}
li.sq-edit-audience__item.new {
  background: goldenrod;
}
.sq-edit-audience__item a.sq-edit-audience__remove-link {
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	color: red !important;
}
.sq-audience-editor-attr {
	margin: 0.5em 0em;
	position: relative;
}
.sq-edit-audience__checkboxes {
	list-style: none;
	margin-left: 1em;
	margin-bottom: 0.5em;
}
.sq-audience-editor-attr h5 {
	font-size: 1.1em;
}
.sq-audience-editor-attr > li {
	background: #f2f2f2;
	padding: 0.2em 1em 0.6em 1em;
	margin-bottom: 0.2em;
	list-style-type: none;
	border-radius: 4px;
	position: relative;
}
.sq-edit-audience__remove-attr-link {
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	color: red;
	text-decoration: underline;
}
.sq-edit-audience__item h3 {
	margin: 0;
}


.sq-audience-editor__add-attribute, .sq-audience-editor__add-audience {
	padding: 0.6em;
	margin-bottom: 0.5em;
}

.sq-edit-audience__weighting, .sq-edit-audience__restrict {
	margin: 0.5em 0;
}

.sq-edit-audience__weighting input {
	padding: 0.2em;
	width: 2em;
}
.sq-edit-audience__select-available-attrs {
	margin: 2em;
}
.sq-edit-audience__checkboxes li {
	float: left;
	width: 50%;
}
.sq-audience-editor__help{
	text-align: left;
	margin-left: 2em;
	margin-bottom: 1em;
}
.sq-audience-init-val {
  color: darkgreen;
  font-size: 0.85em;
}
li.sq-audience-list__item.sq-audience-list__item--orgroup {
  background: #aabbdd !important;
}