<script id="sq-pers-edit-audience-matching" type="text/template">
 <div class="sq-pers-edit-add-row__inner audience-matching-rules-inner">
 	<div class="section-heading">
		<p>Add audience matching rule</p>
	</div>
    <div class="sq-pers-edit-add-row form-row">
        <div class="form-group">
            <select class="sq-pers-edit-add-row__select sq-pers-trait-select">
                <option value=""> -- select -- </option>
                <% _.forEach(schema, function(row) { %>
                    <option value="<%= row.key %>" <% if (row.key == field) { %> selected="selected" <% } %> >
                        <%= row.name %>
                    </option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            
            <% if(field) { if (field.length > 0) { %>
                <div class="form-row">
                <div class="form-group" style="width: 100%; padding-top: 0;">
                    <label for="field_<%= field %>"><%= schema[field]["name"] %> values:</label>
    
                    <% if (!_.isUndefined(schema[field]["note"])){ %>
                        <p class="sq-pers-editor-note"><%= schema[field]["note"] %></p>
                    <% } %>
                    <% if (!_.isUndefined(schema[field]["example"])){ %>
                        <p class="sq-pers-editor-example">E.g.: <%= schema[field]["example"] %></p>
                    <% } %>
    
                    <% if (schema[field]["type"] === "text") { %>
                        <% if (schema[field]["subtype"] === "number") { %>
                            <div class="sq-pers-add-trait-value" data-key="<%= field %>" data-field-type="text-number">
                                <input id="field_<%= field %>" value="<%= audience.attr[field][0] %>" type="number" />
                            </div>
                        <% } else { %>
                            <div class="sq-pers-add-trait-value" data-key="<%= field %>" data-field-type="text-text">
                                <input id="field_<%= field %>" value="<%= audience.attr[field][0] %>" type="text" />
                            </div>
                        <% } %>
                    <% } else if (schema[field]["type"] === "select") { %>
                        <% if (schema[field]["subtype"] === "boolean") { %>
                            <div class="sq-pers-add-trait-value" data-key="<%= field %>" data-field-type="select-boolean">
                                <select id="field_<%= field %>">
                                    <option value=""> -- empty -- </option>
                                    <option value="yes" <% if (audience.attr[field][0] === "yes" ) { %> selected="selected" <% } %>>Yes</option>
                                    <option value="no" <% if (audience.attr[field][0] === "no" ) { %> selected="selected" <% } %>>No</option>
                                </select>
                            </div>
                        <% } else if (schema[field]["subtype"] === "multi") { %>
                            <div class="sq-pers-add-trait-value" data-key="<%= field %>" data-field-type="select-multi">
                            <% _.forEach(schema[field]["options"], function(opt, key2){ %>
                                <ul>
                                	<li>
                                		<input 
                                		    type="checkbox" 
                                		    name="trait" 
                                		    value="<%= key2 %>" 
                                		    id="multi_<%= key2 %>" 
                                		    class="sq-form-field sq-pers-trait-checkbox"
                                		    <% 
                                		    if (typeof(audience.attr) !== "undefined"){
                                		        if (typeof(audience.attr[field]) !== "undefined"){ 
                            		                if (_.indexOf(audience.attr[field], key2) > -1) { 
                                		    %>
                                		            checked="checked"
                                		    <%      
                            		                }
                            		            } 
                            		        }
                                		    %>
                                		>
                                		<label for="multi_<%= key2 %>"><%= opt %></label>
                                	</li>
                                </ul>
                            <% }); %>
                            </div>
                        <% } else { %>
                            <div class="sq-pers-add-trait-value" data-key="<%= field %>" data-field-type="select-select">
                                <select id="field_<%= field %>">
                                    <option value=""> -- empty -- </option>
                                    <% _.forEach(schema[field]["options"], function(opt, key2) { %>
                                        <option value="<%= key2 %>" <% if (audience.attr[field][0] === key2 ) { %> selected="selected" <% } %>><%= opt %></option>
                                    <% }); %>
                                </select>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                </div>
                <div class="form-row">
                    <label>Logic (<%= audience.restrict %>):
                    <select class="sq-pers-audience-preview__logic-list">
                        <option value="Must" <% if (audience.restrict === "Must") {%> selected="selected" <% } %>>Must match</option>
                        <option value="Not" <% if (audience.restrict === "Not") {%> selected="selected" <% } %>>Must not match</option>
                        <option value="" <% if (audience.restrict === "") {%> selected="selected" <% } %>>Emphasize only</option>
                        <!-- <option value="MustOR" <% if (audience.restrict === "MustOR") {%> selected="selected" <% } %>>Emphasize only</option> -->
                    </select>
                    </label>
                </div>
                <div class="form-row">
                    <label>Weighting (<span class="weighting-output"><% if(_.isUndefined(audience.weight)){ %>0<% }else{ %><%= audience.weight %><% }%></span>): <br />
                        <input  type="range" 
                                class="sq-pers-audience-weighting" 
                                name="sq-pers-audience-weighting" 
                                min="0" 
                                max="100" 
                                step="1"
                                value="<% if(_.isUndefined(audience.weight)){ %>0<% }else{ %><%= audience.weight %><% }%>" 
                        />
                    </label>
                </div>
            <% } } %>
            
        </div>
        <div class="form-group">
            <input class="form-btn sq-pers-cancel sq-pers-cancel-new-trait-matching-rule sq-pers-editor-button" type="button" value="Cancel" />
            <input  class="form-btn sq-pers-save sq-pers-save-new-trait-matching-rule sq-pers-editor-button" 
                    style="display: none;" 
                    type="button" 
                    value="<%  if (edit){ %>Save<% }else{ %>Add<% } %>" 
            />
        </div>
    </div>
</div>
</script>