<script id="sq-pers-edit-query-builder" type="text/template">
<div class="sq-pers-edit-query-builder__inner">
    <div class="sq-pers-edit-query">
    </div>
    <div class="sq-pers-edit-add-row">
        <div class="sq-pers-edit-add-row__inner">
 	        <div class="section-heading">
		        <p>Add personalisation query parameter</p>
	        </div>
            <div class="form-row">
                <div class="form-group">
                    <p>Select search query field to match: </p>
                    <select class="sq-pers-edit-add-row__select sq-pers-queryfield-select">
                        <option value=""> -- select -- </option>
                        <% _.forEach(fbsettings.FIELDS, function(field){ %>
                            <option value="<%= field.key %>">
                                <%= field.name %>
                            </option>
                        <% }); %>
                    </select>
                </div>            
                <div class="form-group">
                    <p>Select personalisation trait to match against: </p>
                    <select class="sq-pers-edit-add-row__select sq-pers-querytrait-select">
                        <option value=""> -- select -- </option>
                        <% _.forEach(schema, function(row) { %>
                            <option value="<%= row.key %>" <% if (row.key == field) { %> selected="selected" <% } %> >
                                <%= row.name %>
                            </option>
                        <% }); %>
                    </select>
                    <p>Or enter fixed query: </p>
                    <input class="sq-pers-edit-add-row__queryfixed" type="text" />
                </div>
                <div class="form-group">
                    <input class="form-btn sq-pers-cancel sq-pers-editor-button" type="button" value="Cancel">
                    <input class="form-btn sq-pers-save sq-pers-editor-button" type="button" value="Add query row">
                </div>
            </div>
        </div>
    </div>
</div>
</script>