<script id="sq-pers-edit-target-button" type="text/template">
    <a  class="bodycopy_personalisation sq-pers__edit-target sq-pers__edit-target--<%= assetid %> icon" 
        href="javascript:void(0)" 
        title="Personalise content" 
        style="<% if(!_.isNull(persona)){ 
                    if (!_.isUndefined(persona.color)){
               %>
                    background-color: <%= persona.color %>;
               <%   
                    }
                  }
               %>
        "
        data-assetid="<%= assetid %>"
    >
        <% if (_.isNull(persona)) { %>
            <span class="screenHide">Personalise content</span>
            <span style="display: none;" class="sq-pers__edit__persona">
                No persona assigned 
            </span>
        <% } else { %>
            <span class="screenHide">Personalise content (<%= persona.code %>)</span>
            <span style="display: none;" class="sq-pers__edit__persona">
                Current persona: 
                <span class="sq-pers__edit__persona-name" style="border: 2px solid <%= persona.color %>; color: <%= persona.color %>;">
                    <%= persona.name %>
                </span>
            </span>
        <% } %>
    </a>
</script>







<script id="sq-pers-edit-audience" type="text/template">
    <div class="sq-pers-audience-editor-details">
        <div class="current-rules">
            <% if (_.isEmpty(audience)) { %>
                <p>No audience has been created.</p>
            <% } else { %>
                <ul class="sq-pers-audience-preview">
                <% _.forEach(audience.attr, function(value, trait){ %>
                    <li class="sq-pers-audience-preview__trait">
                        <p class="sq-pers-audience-preview__trait-text">
                            <span class="sq-pers-audience-preview__trait-button" >
                                <%= schema[trait]["name"] %>
                            </span>
                            <span class="sq-pers-audience-preview__trait-inter-text">
                                value(s):
                            </span>
                            <a class="sq-pers-audience-preview__edit" href="javascript:void(0);" data-trait-key="<%= schema[trait]["key"] %>">
                                Edit
                            </a>
                        </p>
                        <ul class="sq-pers-audience-preview__value-list">
                            <% _.forEach(value, function(val2, key){ %>
                                <li class="sq-pers-audience-preview__value">
                                    <% if (schema[trait].type === "select"){ %>
                                        <%= schema[trait]["options"][val2] %>
                                    <% } else { %>
                                        <%= val2 %>
                                    <% } %>
                                    <a class="sq-pers-audience-preview__remove" data-trait="<%= trait %>" data-value="<%= val2 %>" href="javascript:void(0);">Remove</a>
                                </li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
                </ul>
             <% } %>
        </div>
        <div class="sq-pers-edit-add-row audience-matching-rules">
        </div>
        <input class="sq-pers-add-audience-button form-btn" type="button" value="Add or update audience matching rule"/>
    </div>
</script>

<!--
-->