<script type="text/template" id="sq-pers-json-list-editor__template">
    <div class="sq-pers-json-list-editor__display">
        <!-- <h1>Json list editor</h1> -->
        <input class="sq-pers-json-add-row form-btn" type="button" value="Add a row">
        <% _.each(data, function(row, rowKey){ %>
            <div class="form-toggle">
                <% if (active === rowKey) { %>
                    <div class="section-heading open">
                        <p>
                            <% if(!_.isUndefined(_.get(row, namefield))){ %>
                                <%= row[namefield] %>
                            <% } else { %>
                                <% if (rowKey === "NEW_ROW"){ %>
                                    <span class="sq-pers-json__new-row">New row</span>
                                <% } else { %>
                                    <%= rowKey %>
                                <% } %>
                            <% } %>
                        </p>
                        <input class="form-toggle-btn btn-toggle visible-edit sq-pers-json-list-editor__expand" type="button" value="&#9650;"></input>
                    </div>
                    <div class="form-toggle-body" style="display: block;" data-key="<%= rowKey %>">
                <% } else { %>
                    <div class="section-heading">
                        <p>
                            <% if(!_.isUndefined(_.get(row, namefield))){ %>
                                <%= row[namefield] %>
                            <% } else { %>
                                <% if (rowKey === "NEW_ROW"){ %>
                                    <span class="sq-pers-json__new-row">New row</span>
                                <% } else { %>
                                    <%= rowKey %>
                                <% } %>
                            <% } %>
                        </p>
                        <input class="form-toggle-btn btn-toggle visible-edit sq-pers-json-list-editor__expand" type="button" value="&#9660;"></input>
                    </div>
                    <div class="form-toggle-body" data-key="<%= rowKey %>">
                <% } %>
                    <div class="form-row" style="flex-wrap: wrap;">
                        <% _.each(schema, function(schemaRow, schemaRowKey){ %>
                            <div    class="form-group sq-pers-json-form-group"
                                    data-type="<%= schemaRow.type %>"
                                    data-key="<%= schemaRowKey %>"
                                    data-origvalue="<%= row[schemaRowKey] %>"
                                    data-iskeyfield="<% if (schemaRowKey === keyfield) { %>1<% } %>"
                                <% if (schemaRow.listen) {%>
                                    data-listen="<%= schemaRow.listen %>"
                                <% } %>
                                <% if (schemaRow.showif) {%>
                                    data-show="<%= schemaRow.showif %>"
                                <% } %>
                                <% if (schemaRow.hide) { %>
                                    style="display: none;"
                                <% } %>
                            >
                                <label><%= schemaRowKey %></label>
                                <small class="help-text"><%= schemaRow.note %></small>
                                <% if (schemaRow.type === "text" || schemaRow.type === "color" || schemaRow.type === "json") { %>
                                    <input 
                                        class="sq-pers-json__val"
                                        <% if (schemaRow.type === "color") { %>
                                            type="color"
                                        <% } else { %>
                                            type="text" 
                                        <% } %>
                                        name="<%= schemaRowKey %>" 
                                        autocomplete="off"
                                        <% if (schemaRow.type === "json"){ %>
                                            value='<%= JSON.stringify(row[schemaRowKey]) %>'
                                        <% } else { %>
                                            <% if (schemaRow.type === "color" && !row[schemaRowKey]) { %>
                                                value="#000000"
                                            <% } else { %>
                                                value="<%= row[schemaRowKey] %>"
                                            <% } %>
                                        <% } %>
                                    />
                                    <!-- if (!_.isUndefined(data[keyfield][schemaRowKey])){ -->
                                <% } else if(schemaRow.type === "select") { %>
                                    <select class="sq-pers-json__val" name="<%= schemaRowKey %>">
                                        <% if (schemaRow.allowEmpty){ %>
                                            <option value=""> -- empty -- </option>
                                        <% } %>
                                        <% _.each(schemaRow.values, function(value, valueIndex){ %>
                                            <option 
                                                <% if (value === row[schemaRowKey]) { %>
                                                    selected="selected"
                                                <% } %>
                                                value="<%= value %>">
                                                    <%= value %>
                                            </option>
                                        <% }); %>
                                    </select>
                                <% } else if(schemaRow.type === "keyval") { %>
                                    <div class="sq-pers-json-keyval__wrapper">
                                        <div class="sq-pers-json-keyval">
                                            <strong>Key</strong>
                                            <strong>Value</strong>
                                        </div>
                                        <% _.each(row[schemaRowKey], function(optVal, optKey){ %>
                                            <div class="sq-pers-json-keyval">
                                                <input  class="sq-pers-json__val" 
                                                        type="text" 
                                                        value="<%= optKey %>" 
                                                        name="<%= schemaRowKey %>_key" 
                                                />
                                                <input  class="sq-pers-json__val__value" 
                                                        type="text" 
                                                        value="<%= optVal %>" 
                                                        name="<%= schemaRowKey %>_value"
                                                />
                                                <a class="sq-pers-json-keyval__remove" href="javascript:void(0)">Remove</a>
                                            </div>    
                                        <% }); %>
                                        <div class="sq-pers-json-keyval sq-pers-json-keyval__add">
                                            <input  type="text" 
                                                    name="<%= schemaRowKey %>_key" 
                                                    class="sq-pers-json__val"
                                            />
                                            <input  type="text" 
                                                    name="<%= schemaRowKey %>_value" 
                                                    class="sq-pers-json__val__value"  
                                            />
                                            <a class="sq-pers-json-keyval__remove" href="javascript:void(0)">Remove</a>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                    <div class="form-row">
                        <div class="form-group sq-pers-json-save-row">
                            <input class="form-btn sq-pers-cancel sq-pers-cancel-row sq-pers-editor-button" type="button" value="Cancel">
                            <input class="form-btn sq-pers-save sq-pers-save-row sq-pers-editor-button" style="" type="button" value="Add / update" disabled="disabled">
                        </div>
                    </div>
				</div>
            </div>
        <% }) %>
    </div>
</script>