<script id="sq-pers-persona-selector" type="text/template">
	<div class="sq-pers-persona-selector">
		<div class="sq-pers__persona-list" data-assetid="<%= assetid %>">
			<a href="javascript:void(0);" class="sq-pers__persona-list__persona sq-pers__persona-list__persona--null selected" data-code="0">
				<span class="sq-pers__persona-list__circle">&nbsp;</span>
				<span class="sq-pers__persona-list__name">No persona</span>
			</a>
			<% _.each(personas, function(persona,key){ %>
				<a href="javascript:void(0);" class="sq-pers__persona-list__persona" data-code="<%= persona.code %>">
					<span class="sq-pers__persona-list__circle" style="background-color: <%= persona.color %>; border-color: <%= persona.color %>">&nbsp;</span>
					<span class="sq-pers__persona-list__name"><%= persona.name %></span>
				</a>
			<% }); %>
		</div>
		<div id="ees_assetFinderFooter" class="clearfix">
	        <div id="ees_assetFinderButtons">
	            <a id="sq-pers__save-persona" class="guiButton default alignRight'+(this.options.readOnly ? ' disabled' : '')+'" href="#">
	                Save
	            </a>
	        </div>
	        <div id="ees_assetFinderCurrentSelection" class="alignRight"></div>
	    </div>		
	<div>
</script>