<script type="text/template" id="sq-pers-query-builder">
    <div class="sq-pers-editor-details">
        <div class="sq-pers-current-state">
            <% if (_.isEmpty(queries)) { %>
                <p>No query has been created.</p>
            <% } else { %>
                <div class="sq-pers-current-state-preview sq-pers-query-editor-preview">
                    <div class="sq-pers-current-state-preview__header">
                        <div class="sq-pers-current-state-preview__cell">
                            Funnelback field
                        </div>
                        <div class="sq-pers-current-state-preview__cell">
                            User profile trait to match
                        </div>
                    </div>
                    <% _.each(queries, function(query, key){ %>
                        <div class="sq-pers-current-state-preview__row" data-fbfield="<%= query.key %>">
                            <div class="sq-pers-current-state-preview__cell">
                                <span title="<%= query.key %>"><%= query.name %></span>
                            </div>
                            <div class="sq-pers-current-state-preview__cell">
                                <% if (query.trait.hardcoded) { %>
                                    <span title="<%= query.trait.key %>">Hard coded value: "<em><%= query.trait.name %></em>"</span>
                                <% } else { %>
                                    <span title="<%= query.trait.key %>"><%= query.trait.name %></span>
                                <% } %>
                                <a href="javascript:void(0)" title="remove" class="sq-pers-query-editor-preview__delete" >Remove</a>
                            </div>
                        </div>
                    <% }); %>
                </div>
             <% } %>
        </div>
        <div class="sq-pers-edit-add-row query-builder-rules">
        </div>
        <input class="sq-pers-add-query-button form-btn" type="button" value="Add or edit query matching rule"/>
    </div>
</script>