<script type="text/template" id="sq-pers-testing-tool">
    <div class="testing-tool-contents">
        <div class="testing-tool-header">
            <h2>Personalisation preview</h2>
            <a class="testing-tool-header__close" href="javascript:void(0)">X</a>
        </div>
        <div class="testing-tool-body">
            <div class="sq-pers__test__top">
                <% if (presets.length > 0) { %>
                    <!-- <h3>Personas</h3> -->
                    <ul class="sq-pers-preset-list overflowing">
                        <li class="sq-pers-preset-item">
                            <a  class="sq-pers-preset-link sq-pers-preset-link--null" 
                                href="javascript:void(0)" 
                                title="No persona set"
                            >
                                <span class="sq-pers-present-link__short" style="background-color: transparent; border-color: #777;">
                                    <span class="sq-pers-preset__inner">Clear personas</span>
                                </span>
                                <span class="sq-pers-present-link__full" style="display: none;">
                                    Clear personas
                                </span>
                            </a>
                        </li>                        
                        <% _.each(presets, function(val,key) { %>
                            <li class="sq-pers-preset-item">
                                <a  class="sq-pers-preset-link <% if (profile){ if (val.name === profile.name){ %> enabled <% } } %>" 
                                    href="javascript:void(0)" 
                                    title="<%= val.name %>"
                                >
                                    <span class="sq-pers-present-link__short" style="background-color: <%= val.color %>; border-color: <%= val.color %>;"><span class="sq-pers-preset__inner"><%= val.shortname %></span></span>
                                    <span class="sq-pers-present-link__full" style="display: none;">
                                        <%= val.name %>
                                    </span>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                    <% if (profileset){ %>
                        <div class="sq-pers__profile sq-pers__fadein" style="display: none; border-color: <%= profile.color %>">
                            <a class="persona-header__close" href="javascript:void(0)">X</a>
                            <div class="sq-pers__profile__header">
                                <div class="sq-pers__profile__user__icon" style="border-color: <%= profile.color %>; background-color: <%= profile.color %>;">
                                </div>
                                <h2><%= profile.name %></h2>
                            </div>
                            <div class="sq-pers__profile__body">
                                <p class="sq-pers__profile__summary"><%= profile.summary %></p>
                                <h3>Persona Traits</h3>
                                <div class="sq-pers__trait-list">
                                    <% _.each(profile.traits, function(val,key){ %>
                                        <div class="row">
                                            <div class="trait-key col-7"><%= key %></div>
                                            <div class="trait-val col-5"><%= val %></div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="sq-pers__profile__bg" style="background-color: <%= profile.color %>"> </div>
                        </div>                    
                    <% }else{ %>
                        <div class="sq-pers__profile null-persona">
                            <div class="sq-pers__profile__header">
                                <div class="sq-pers__profile__user__icon" style="">
                                </div>
                                <h2>No persona applied</h2>
                            </div>
                            <div class="sq-pers__profile__body">
                                <p class="sq-pers__profile__summary">A user who does not match any of the system personas</p>
                            </div>
                        </div>                
                    <% } %>
                <% } else { %>
                    <!-- no personas -->
                <% } %>
            </div>
            <div class="sq-pers__test__bottom">
                <div class="sq-pers__test__toggle">
                    <p>Highlight personalised sections</p>
                    <div class="onoffswitch" data-on-txt="Yes" data-off-txt="No">
                        <div class="sq-metadata-wrapper">
                            <div class="sq-metadata-contents-wrapper">
                                <ul>
                                    <li>
                                        <input type="checkbox" class="sq-pers-highlight-toggle" id="sq-pers-highlight-toggle" />
                                        <label for="sq-pers-highlight-toggle">Yes</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sq-pers__test__toggle">
                    <p>Show detailed traits</p>
                    <div class="onoffswitch" data-on-txt="Yes" data-off-txt="No">
                        <div class="sq-metadata-wrapper">
                            <div class="sq-metadata-contents-wrapper">
                                <ul>
                                    <li>
                                        <input type="checkbox" class="sq-pers-detailed-traits-toggle" id="sq-pers-detailed-traits-toggle" />
                                        <label for="sq-pers-detailed-traits-toggle">Yes</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="sq-pers__detailed-traits" style="display: none;">
                <h3>Traits</h3>
                <div class="sq-pers-sidebar-tabs">
                    <a class="sq-pers-sidebar-tab sq-pers-modified-traits <% if (!tabstateall) { %> active <% } %>" href="javascript:void(0)" class="active">Modified traits</a>
                    <a class="sq-pers-sidebar-tab sq-pers-all-traits <% if (tabstateall) { %> active <% } %>" href="javascript:void(0)">All traits</a>
                </div>
                <ul class="sq-pers-test-list">
                    <% _.each(_.groupBy(schema, "category"), function(category,key) { %>
                        <li class="sq-pers-test-cat">
                            <h4 class="sq-pers-test-cat__heading"><%= key %></h4>
                        </li>
                        <ul class="sq-pers-test-fields">
                            <% _.each(category, function(field, key2) { %>
                                <% if (model !== null) { %>
                                    <% if (typeof(model.traits[field.key]) !== "undefined"){ %>
                                        <% if (model.traits[field.key].length > 0) { %> 
                                            <li class="sq-pers-test-field active">
                                        <% } else { %>
                                            <li class="sq-pers-test-field inactive">
                                        <% } %>
                                    <% } else { %>
                                        <li class="sq-pers-test-field inactive"> 
                                    <% } %>
                                <% } else { %>
                                    <li class="sq-pers-test-field inactive">
                                <% } %>
                                    <div class="sq-pers-test-expand">
                                        <span class="sq-pers-test-field__cell sq-pers-test-field__name"><%= field.name %></span>
                                        <span class="sq-pers-test-field__cell sq-pers-test-field__val-preview">
                                            <% _.each(model.traits[field.key], function(val3, key3){ %>
                                                <% if (field.type === "select"){ %>
                                                    <span><%= schema[field.key]["options"][val3] %></span>
                                                <% } else { %>
                                                    <span><%= val3 %></span>
                                                <% } %>
                                            <% }); %>
                                        </span>
                                        <a class="sq-pers-test-field__cell sq-pers-test-expand__button" href="javascript:void(0)">
                                            <span class="down">&#9660;</span>
                                            <span class="up" style="display: none;">&#9650;</span>
                                        </a>
                                    </div>
                                    <div 
                                        class="sq-pers-test-expand__section" 
                                        <% if (_.indexOf(expanded, field.key) > -1){ %>
                                        <% } else { %>
                                            style="display: none;"
                                        <% } %>
                                    >
                                        <span class="sq-pers-test-field__note"><%= field.note %></span>
                                        <span class="sq-pers-test-field__example">E.g.: <%= field.example %></span>
                                        <% if (field.type === "text") { %>
                                            <span class="sq-pers-test-field__input text-number" data-trait="<%= field.key %>">
                                            <% if (field.subtype === "number") { %>
                                                <!-- number text -->
                                                <% if (typeof(field.rangeStart) !== "undefined" && typeof(field.rangeEnd) !== "undefined"){ %>
                                                    <input  type="range" 
                                                            id="range_<%= field.key %>" 
                                                            name="range_<%= field.key %>" 
                                                            min="<%= field.rangeStart %>" 
                                                            max="<%= field.rangeEnd %>"
                                                            <% if (!_.isUndefined(model.traits[field.key])){ %>
                                                                value="<%= model.traits[field.key] %>"
                                                            <% } %>
                                                    />
                                                <% } else { %>
                                                    <input type="number" 
                                                        <% if (!_.isUndefined(model.traits[field.key])){ %>
                                                            value="<%= model.traits[field.key] %>"
                                                        <% } %>
                                                    />
                                                <% } %>
                                                </span>
                                            <% } else { %>
                                                <!-- normal text -->
                                                <input type="text" 
                                                    <% if (!_.isUndefined(model.traits[field.key])){ %>
                                                        value="<%= model.traits[field.key] %>"
                                                    <% } %>
                                                />
                                            <% } %>
                                            </span>
                                        <% } else if (field.type === "select") { %>
            
                                            <% if (field.subtype === "multi") { %>
                                                <!-- multi select -->
                                                <ul class="sq-pers-test-field__input select-multi" data-trait="<%= field.key %>">
                                                <% _.each(field.options, function(fieldOption,fieldOptionKey){ %>
                                	                <li>
                                		                <input type="checkbox" name="trait" value="<%= fieldOptionKey %>" id="multi_<%= field.key %>_<%= fieldOptionKey %>" class="sq-pers-trait-checkbox"
                                		                <% if (_.indexOf(model.traits[field.key], fieldOptionKey) > -1) { %>
                                		                    checked="checked"
                                		                <% } %>
                                		                >
                                    		            <label for="multi_<%= field.key %>_<%= fieldOptionKey %>"><%= fieldOption %></label>
                                    	            </li>
                                                <% }); %>
                                                </ul>
                                            <% } else if (field.subtype === "boolean") { %>
                                                <!-- boolean select -->
                                            <% } else { %>
                                                <!-- normal select -->
                                            <% } %>
                                        <% } %>
                                    </div>
                                </li>

                            <% }); %>
                        </ul>
                    <% }); %>
                </ul>
            </div>            
        </div>
    </div>
</script>