<script type="text/javascript" src="./?a=28517"></script><!-- lodash -->
<script type="text/javascript" src="./?a=28516"></script><!-- sq-personalise -->
<script>
    // invoke personalisation
    if (window.top.location.pathname.match('_edit')){
        userdata = sq.personalise.getSqPersModelsFromStorage().modifiedStored;
    } else {
        userdata = sq.personalise.getSqPersModelsFromStorage().userStored;
    }

    // filter
    sq.personalise.filterPersonalisedAreasInDOM(userdata.traits, {});    

</script>