.test-panel__outer {
// position: fixed;
position: static;
left: 0.5em;
top: 0.5em;
z-index: 9999;
background: white;
box-shadow: 2px 2px 12px -2px black;
padding: 1em;
max-height: calc(100% - 1em);
overflow: auto;
max-width: calc(100% - 1em);
}
.test-panel__outer--active-true{
	position: fixed;	
}

a.test-icon__link {
text-align: left;
text-decoration: none;
color: $gu-coral;
font-size: 2em;
display: block;
height: auto;
margin: -0.35em -0.3em;
}
.test-panel__outer--active-true .test-icon__link {
margin: -0.2em -0.3em -0.35em 0;
}

h2.test-panel__heading {
color: #444;
font-weight: 300;
border-bottom: 1px solid #ddd;
margin: 0.8em 0;
}

.test-panel__button {
display: block;
color: white;
background: #73777c;
margin-bottom: 0.2em;
padding: 0.3em 1em;
text-decoration: none;
}
.test-panel__back{
	color: black;
	text-decoration: none;
	margin-bottom: 1em;
	font-size: 0.9em;
	display: block;
}
.test-panel__attributes{
	@include sq-list-reset();
}
.test-panel__link{
	color: $gu-grey;
	text-decoration: none;
}
.test-panel__label{
	font-weight: 600;
	padding-left: 0.5em;
}
.test-panel__section {
	margin: 0.5em 1em 0.5em 0;
	background: #eee;
	padding: 0.5em;
}
.test-panel{
	min-width: 12em;
	max-width: 100%;
}
.test-panel__option-list{
	@include sq-list-reset();
}
.test-panel__eg, .test-panel__note{
	font-size: 0.8em;
	font-style: italic;
	margin: 0.4em 0;
}
.test-panel__suppress {
  background-color: #ddd;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 3px;
  margin-top: 0.3em;
}
.test-panel__outer--active-false {
  display: none;
}