<!--@@ include the personalisation settings - provided via the site settings container template on a site settings page inside the site @@-->
%globals_asset_contents_raw:28580%

<!--edit-plus-plugins.css-->
<link href="./?a=28469?v=%globals_asset_version:28469%" rel="stylesheet">
<link href="./?a=28512?v=%globals_asset_version:28512%" rel="stylesheet"><!-- audience editor -->
<link href="./?a=28647?v=%globals_asset_version:28647%" rel="stylesheet"><!-- query builder -->
<link href="./?a=28635?v=%globals_asset_version:28635%" rel="stylesheet"><!-- testing tool -->
<link href="./?a=28629?v=%globals_asset_version:28629%" rel="stylesheet"><!-- image related asset viewer -->
<link href="./?a=28777?v=%globals_asset_version:28777%" rel="stylesheet"><!-- json list editor -->
<!--edit-plus-plugins.js-->
<script src="./?a=28517?v=%globals_asset_version:28517%"></script> <!-- lodash -->
<script src="./?a=28470?v=%globals_asset_version:28470%"></script>
<script src="./?a=28640?v=%globals_asset_version:28640%"></script><!-- sq-pers-data-functions -->
<script src="./?a=28510?v=%globals_asset_version:28510%"></script><!-- audience editor -->
<script src="./?a=28604?v=%globals_asset_version:28604%"></script><!-- query builder -->
<script src="./?a=28634?v=%globals_asset_version:28634%"></script><!-- testing tool -->
<script src="./?a=28511?v=%globals_asset_version:28511%"></script><!-- related asset viewer -->
<script src="./?a=28652?v=%globals_asset_version:28652%"></script><!-- color field -->
<script src="./?a=28776?v=%globals_asset_version:28776%"></script><!-- json list editor -->
<script src="./?a=28780?v=%globals_asset_version:28780%"></script><!-- json list editor PERSONA TRAIT plugin -->

<!--@@ Include the personalisation templates - these are used to render the different interfaces @@-->
%globals_asset_contents_raw:28519%