<html>
<head>

<style>
.existinglist, .basiclist{
    border: 1px solid black;
    padding: 1em 2em;
}
.existinglist__highlight, .basiclist__highlight{
    padding: 0.5em 0;
    font-weight: bold;
    font-size: 1.5em;
}
.existinglist__sub-highlight, .basiclist__sub-highlight{
    font-weight: bold;
    padding: 0.3em 0;
}
</style>
</head>
<body>
    <h1>Personalisation test code</h1>
        <ul class="sq-pers"
            data-persbehaviour="jsonrender"
            data-ordered-classes="basiclist__highlight basiclist__sub-highlight"
            data-template="<li class='<%= orderedClass %>'>Item: <%= content %></li>"
        >
        </ul>
        <script class="sq-pers-json" type="text/template">
            [
                {
                    "id": "123",
                    "name": "Item 1",
                    "audiences": [{"attr":{"INT_STATUS":"domestic"},"weight":100},{"attr":{"STUDY_AREA_INTEREST":"Science"},"weight":100}],
                    "content": "<em>Domestic science</em>"
                },
                {
                    "id": "456",
                    "name": "Item 2",
                    "audiences": [{"attr":{"INT_STATUS":"domestic"},"weight":100},{"attr":{"STUDY_AREA_INTEREST":"Arts"},"weight":100}],
                    "content": "<em>Domestic arts</em>"
                },
                {
                    "id": "678",
                    "name": "Item 3",
                    "audiences": [{"attr":{"INT_STATUS":"domestic"},"weight":200},{"attr":{"STUDY_AREA_INTEREST":"Arts"},"weight":200}],
                    "content": "<em>International arts</em>"
                },                
                {
                    "id": "765",
                    "name": "Item 4",
                    "audiences": [{"attr":{"INT_STATUS":"international"},"restrict":"Must"},{"attr":{"STUDY_AREA_INTEREST":"Science"},"restrict":"Must"}],
                    "content": "<em>International science</em>"
                }
            ]
        </script>
        <ul 
            class="sq-pers existinglist" 
            data-persbehaviour="reorder" 
            data-ordered-classes="existinglist__highlight existinglist__sub-highlight existinglist__sub-highlight"
        >
            <li data-audiences='[{"attr":{"INT_STATUS":"international"},"restrict":"Must"},{"attr":{"STUDY_AREA_INTEREST":"Science"},"restrict":"Must"}]'>
                Existing item 1
            </li>
            <li>
                Existing item 2
            </li>
            <li>
                Existing item 3
            </li>
            <li>
                Existing item 4
            </li>
            <li>
                Existing item 5
            </li>
            <li>
                Existing item 6
            </li>
        </ul>
    <script src="../lib/jquery-3.3.1.min.js"> </script>
    <script src="../lib/lodash-full-4.17.10-npm.min.js"> </script>
    <script src="../JS/sq-personalise.js"> </script>
    <script src="example.js"></script>
</body>
</html>