/* 1 */
.sq-pers {
    transition: opacity 250ms;
    opacity: 1;
    position: relative;
}
.sq-pers.sq-pers-hidden{
    opacity: 0;
}
.sq-pers:after {
    transition: opacity 1s;
    opacity: 0;
}
.sq-pers-highlight .sq-pers:after {
    transition: opacity 1s;
    opacity: 1;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 4px solid rgba(0, 255, 128, 0.5);
    width: 100%;
    position: absolute;
    z-index: 900;
}


#ees_PreviewFrameContainer .sq-pers {
    position: relative;
}
#ees_PreviewFrameContainer .sq-pers:after {
    content: " ";
    display: block;
    border: 2px dashed greenyellow;
    top: 0;
    right: 2px;
    bottom: 1px;
    left: 3px;
    position: absolute;
    z-index: 999;
    border-radius: 3px;
}
.sq-pers-jumbotron {
    position: relative;
}
.sq-pers-jumbotron__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 20;
}
.sq-pers-jumbotron__contents {
    position: relative;
    display: flex;
    z-index: 30;
}
.sq-pers-jumbotron__contents-inner{
    width: 100%;
}
.sq-pers-jumbotron__cta-wrapper {
    display: flex;
    align-items: center;
}



/* news */
.sq-pers-list-item {
    padding: 0;
}
.sq-pers-list-item img {
    width: 55px;
}
.sq-pers-list-item.major img {
    width: 100px;
}
.sq-pers-list-item .sq-pers-list-item-summary {
    display: none;
}
.sq-pers-list-item.major .sq-pers-list-item-summary {
    display: block;
}

/* highlighting */
.sq-pers-element.active:before, .sq-pers-element-ghost.active:before {
    opacity: 1;
    position: absolute;
    width: calc(103% + 2px);
    height: calc(103% + 2px);
    border: 5px solid rgba(0, 0, 255, 0.2);
    display: block;
    content: " ";
    border-radius: 5px;
    left: calc(-1.5% - 1px);
    top: calc(-1.5% - 1px);
    z-index: 9;
}
.sq-pers-element:before, .sq-pers-element-ghost:before {
    opacity: 0;
    transition: opacity 500ms;
}
.sq-pers-element.active:after, .sq-pers-element-ghost.active:after {
    opacity: 1;
    position: absolute;
    width: 103%;
    height: 103%;
    border: 3px solid yellow;
    display: block;
    content: " ";
    border-radius: 5px;
    left: calc(-1.5% - 0px);
    top: calc(-1.5% - 0px);
    z-index: 10;
}
.sq-pers-element:after, .sq-pers-element-ghost:after {
    opacity: 0;
    transition: opacity 500ms;
}
.sq-pers-element, .sq-pers-element-ghost{
    position: relative;
}

.sq-pers-element-ghost.active{
    min-height: 20px;
    margin: 10px 0;
    opacity: 0.25;
}
.sq-pers-element-ghost.active:after {
    /* background: repeating-linear-gradient(-45deg, #eee, #eee 10px, #fafafa 10px, #fafafa 20px ); */
    min-height: 20px;
    width: 103%;
}
.sq-pers-element-ghost.active:before {
    min-height: 20px;
};