/*
.sq-image-related-asset-viewer__img {
    display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0.5em 0;
    background-position: center center;
}
*/
.sq-image-related-asset-viewer__img {
    display: block;
    width: 820px;
    height: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 0.5em auto;
    background-position: center -67px;
}
.form-group.sq-pers-edit-color-input input[type=color] {
    width: 100%;
}