.sq-pers__persona-list__persona--null .sq-pers__persona-list__circle:after {
    content: " ";
    border-bottom: 2px solid #777;
    width: 39px;
    height: 1px;
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    top: 16px;
    left: -2px;
}
.sq-pers__persona-list__persona--null .sq-pers__persona-list__circle {
    background: transparent !important;
    border: 2px solid #777;
    width: 36px;
    height: 36px;
}
.sq-pers__persona-list {
    padding: 1em;
}
.sq-pers__persona-list__circle {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    line-height: 2.6;
    margin-right: 10px;
    position: relative;
    background-image: url(https://educause-web01.squiz.cloud/__data/assets/file/0009/1413/user-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1px 1px;
    border: 2px solid tomato;
}
.sq-pers__persona-list__persona {
    border-bottom: 1px solid #eee;
    display: block;
    text-decoration: none;
    color: black !important;
    padding: 0.5em;
}
.sq-pers__persona-list__persona.selected {
    background: #f1f1f7;
    border: 1px solid #e5e5e9;
    border-top: none;
    font-weight: bold;
}
body .sq-pers__persona-list__persona:hover {
    background: #fafaff;
}
.sq-pers__persona-list__name {
    font-weight: lighter;
    font-size: 1.2em;
    font-family: "open sans";
}
#sq-pers__modal__persona-selector .modalIcon {
    background-image: url('https://educause-web01.squiz.cloud/?a=2012');
    background-position: 0 0 !important;
    background-size: cover;
    width: 58px;
}
.sq-pers__edit-target{
    background-image: url('https://educause-web01.squiz.cloud/__data/assets/image/0019/1990/target-1.png') !important;
    width: 20px !important;
    height: 20px !important;
    background-size: cover;
    background-color: #9e9e9e;
}
.sq-pers__edit-target:hover{
    background-color: #4d4d4d;
}
.sq-pers__edit-target:hover .sq-pers__edit__persona {
    display: block !important;
}
.sq-pers__edit__persona {
    position: absolute;
    top: -3.25em;
    width: auto;
    white-space: nowrap;
    background: white;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid #aaa;
    left: 0;
    color: black;
    min-height: 24.5px;
}
.sq-pers__edit__persona-name {
    padding: 0.25em 0.8em 0.2em 0.8em;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.9em;
    margin-left: 0.5em;
    line-height: 1.2;
    vertical-align: middle;
}
.sq-pers__edit__persona:after {
    content: " ";
    width: 12px;
    height: 12px;
    border: 1px solid #aaa;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 3.1em;
    top: 2.3em;
    border-top: none;
    border-left: none;
    background: white;
}


.sq-pers-edit-add-row {
    border-radius: 3px;
    margin-bottom: 1.5em;
}
.sq-pers-edit-add-row__inner {
    border: 1px solid #c9d6c9;
    border-radius: 3px;
    border-bottom: none;
}
.sq-pers-edit-add-row p.sq-pers-editor-note {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 0.5em;
    flex-shrink: 0;
    width: 100%;
}
.sq-pers-edit-add-row p.sq-pers-editor-example { 
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 0.5em;
    flex-shrink: 0;
    width: 100%;    
}
.matrix-options-template .sq-pers-edit-add-row .form-row, .matrix-options-template .sq-pers-edit-add-row .form-group {
    background: #fafffa;
}
.sq-pers-edit-add-row .form-row {
    margin-bottom: 1em;
}
.sq-pers-edit-add-row .form-row:nth-child(3){
    margin-bottom: 0;
    border-bottom: none;
}
.sq-pers-edit-add-row .form-group:last-child {
    width: 40%;
}
.sq-pers-edit-add-row input[type="range"] {
    width: 100%;
}

body .matrix-options-template .sq-pers-edit-add-row .section-heading p {
    padding: 0.5em;
    margin: 0;
}
body .matrix-options-template .sq-pers-edit-add-row .section-heading {
    display: flex;
    cursor: pointer;
    padding: .5em 2em;
    align-items: center;
    justify-content: space-between;
    background-color: #e1efe1;
    border-bottom: 1px solid #c9d6c9;
    padding: 0.5em 0.7em;
}
/*
.sq-pers-edit-add-row .form-group {
    border-right: 1px solid #c9d6c9;
}
.sq-pers-edit-add-row .form-group:last-child {
    border-right: none;
}
*/


.matrix-options-template .form-btn {
    color: #404040;
    min-width: 130px;
    padding: 8px 25px;
    border-radius: 3px;
    background-color: #efefef;
    border: 1px solid #b3b3b3;
    box-shadow: inset 0 1px 0 0 #fff;
}


.sq-pers-audience-preview__trait {
    display: block !important;
}
.sq-pers-audience-preview__value {
    display: list-item !important;
}


.sq-pers-audience-preview {
    background: white;
    border-radius: 3px;
    padding: 2em 1em;
    border: 1px solid #999;
    margin-bottom: 1em !important;
}

.sq-pers-audience-preview__trait-text {
    /* background: #f1f1f1; */
    margin: 0 !important;
    /* padding: 0.5em; */
    border-radius: 3px;
    position: relative;
    font-weight: bold;
}
.sq-pers-audience-preview__trait-button {
    font-size: 1.15em;
}
.sq-pers-audience-preview__edit {
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.23em 0.5em;
    background: #efefff;
    border-radius: 3px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: black !important;
    font-weight: normal;
}
.sq-pers-audience-preview__value {
    margin-left: 2em;
    padding-left: 0;
    list-style: disc outside none;
}
.sq-pers-audience-preview__remove {
    display: none;
    position: absolute;
    background: #ffbfbf;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-indent: -999px;
    top: -0.5em;
    right: -1em;
    z-index: 2;
    border: 1px solid tomato;
}
.sq-pers-audience-preview__remove:after {
    content: "x";
    color: black;
    position: absolute;
    top: -0.2em;
    right: 0;
    z-index: 5;
    left: 0;
    text-indent: 0;
    font-size: 1.5em;
    text-align: center;
}
.sq-pers-editor-button {
    margin-bottom: 0.5em;
}
.sq-pers-add-trait-value {
    width: 100%;
}

.sq-pers-audience-editor-details {
    width: 100%;
}