.sq-pers-json-list-editor {
    width: 100%;
}
.matrix-options-template .sq-pers-json-list-editor__display .form-toggle {
    margin: 0;
    border-radius: 0;
    border: solid #aaa 1px;
    border-bottom: none;
}
.matrix-options-template .sq-pers-json-list-editor__display .form-toggle:last-child {
    border-bottom: 1px solid #aaa;
}
.matrix-options-template .sq-pers-json-list-editor__display .form-toggle .section-heading {
    /* background-color: white; */
    padding: 0.5em 0.5em 0.5em 0;
}
.sq-pers-json-list-editor__expand {
    /* background: transparent !important; */
    border: none !important;
    box-shadow: none !important;
    min-width: 3em !important;
    padding: 0.3em 0 !important;
    margin: 0;
}
.sq-pers-json-list-editor__display .form-toggle-body {
    border-top: 1px solid #ddd;
}
.sq-pers-json-list-editor__display .form-toggle-body .form-group {
    min-width: 50%;
    flex: 1;
}
.sq-pers-json-keyval {
    display: flex;
}
.sq-pers-json-keyval strong {
    width: 100%;
    padding: 0.7em 0;
    font-weight: bold;
}
.sq-pers-json-save-row{
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
}
.sq-pers-json-keyval__add a {
    visibility: hidden;
}

.sq-pers-save-row:not([disabled]) {
    background-color: #e1efe1;
    border-color: #70a070;
}
.sq-pers-save-row[disabled] {
    opacity: 0.4;
    background-color: #efefef;
    border-color: #b3b3b3;
}
.sq-pers-json__new-row {
    background: #e1efe1;
    padding: 0.4em 2.5em;
    border-radius: 4px;
    border: 1px solid #70a070;
    color: darkgreen;
}
.sq-pers-json-add-row {
    margin-bottom: 1em;
}
.sq-pers-json-keyval input, .sq-pers-json-keyval a {
    min-width: auto !important;
}
.sq-pers-json__val[type=color] {
    width: 100%;
}