#ees_sqPersonalise_test__button__name {
    background-image: url("https://educause-web01.squiz.cloud/__data/assets/image/0011/2180/target-top-button.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
#ees_sqpersonalise_test {
    position: absolute;
    left: 0;
    top: 3.7em;
    width: 350px;
    height: calc(100vh - 3.7em);
    background: #fafafa;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    transform-origin: top left;
    transform: translateX(-370px);
    transition: transform 500ms;    
}
#ees_sqpersonalise_test.toolvisible {
    transform: translateX(0);
}
#ees_sqpersonalise_test h2 {
    font-size: 1.1em;
}
#ees_sqpersonalise_test h3 {
    font-size: 1.2em;
    margin: 0.8em 0 0.7em;
    color: #2b2b2b;
}

#ees_sqpersonalise_test h4 {
    margin: 0.8em 0 0.7em;
    color: #4d4d4d;
}

.testing-tool-header {
    display: flex;
    background: #efefef;
    padding: 0.08em 1.5em;
    border-bottom: 1px solid #dbdbdb;
    color: #4d4d4d;
}
.testing-tool-header h2 {
    width: 100%;
}
.testing-tool-header a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    transform: scaleY(0.9);
    line-height: 2em;
}
.testing-tool-body {
    padding: 0 1em 1em 1em;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.testing-tool-body ul {
    list-style: none;
}

.sq-pers__test__bottom {
    /* position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    margin: 1em 0;
    left: 1em;
    */
}
.sq-pers__test__toggle {
    display: flex;
    background: #efefef;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-top: 0.5em;
}
.sq-pers__test__toggle p {
    width: 64%;
    padding: 0.8em 1em;
}



.sq-pers-test-field {
    background: white;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    position: relative;
}

.sq-pers-test-field.last {
    border-bottom: 1px solid #dbdbdb;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sq-pers-test-field.first {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/*
.sq-pers-test-field:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
} 
.sq-pers-test-field:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #dbdbdb;
}
*/
.sq-pers-test-expand {
    display: flex;
}
.sq-pers-test-field__name {
    font-weight: bold;
    display: block;
    width: 100%;
}
.sq-pers-test-field__note {
    font-style: italic;
    display: block;
    font-size: 0.95em;
    color: #6b6b6b;
}
.sq-pers-test-field__example {
    font-style: italic;
    font-size: 0.95em;
    color: #6b6b6b;
}
.sq-pers-test-expand__section {
    background: #f5f5f5;
    padding: 0.8em 0.8em 0.5em 0.8em;
    border-top: 1px solid #dbdbdb;
}

.sq-pers-test-field__input {
    border-top: 1px solid #dbdbdb;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

.sq-pers-test-field__input.multi {
    list-style: none;
    padding: 0.5em 1em;
    /* background: #efefef; */
    margin-top: 0.5em;
}
.sq-pers-test-field__cell {
    border-right: 1px solid #dbdbdb;
    padding: 0.5em 0.5em;
}
.sq-pers-test-field__cell:last-child {
    background: #efefef;
    border-right: none;
}
.sq-pers-test-field__val-preview {
    width: 60%;
}
.sq-pers-test-field__val-preview > span:after {
    content: ", ";
}
.sq-pers-test-field__val-preview > span:last-child:after {
    content: "";
}
.sq-pers-test-expand__button {
    text-decoration: none;
    color: #999;
    font-size: 0.8em;
    line-height: 2em;
}
.sq-pers-test-field__input > input {
    display: block;
    margin: 1em 0 0.5em 0;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}



.sq-pers-preset-list {
    display: flex;
    list-style: none;
    position: absolute;
    background: white;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    flex-direction: column;
    left: 0;
    margin-top: 1em;
    z-index: 999;
}
.active.sq-pers-preset-list {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
.sq-pers-preset-link {
    padding: 4px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
    max-width: 41px;
    max-height: 41px;
    transition: max-width 200ms;
    overflow: hidden;
}
.active .sq-pers-preset-link:hover {
    background: #f2f8fe !important;
}
.active .sq-pers-preset-link {
    background-color: white !important;
    display: flex;
    max-width: 250px;
}
.active .sq-pers-preset-link--null .sq-pers-present-link__short:after {
    content: " ";
    width: 31px;
    height: 0;
    border-top: 2px solid #777;
    display: block;
    position: absolute;
    left: -2px;
    transform: rotate(-45deg);
    top: 13px;
}
.sq-pers-preset-list.overflowing {  
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.sq-pers-present-link__short {
    background-color: tomato;
    display: block;
    width: 1px;
    height: 28px;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    line-height: 2.95;
    position: relative;
    border: 2px solid tomato;
    text-indent: -999px;
    background-image: url(https://educause-web01.squiz.cloud/__data/assets/file/0009/1413/user-icon.svg);
    background-position: 50px 50px;
    background-repeat: no-repeat;
    background-size: 84%;
}
.active .sq-pers-present-link__short {
    width: 28px;
    min-width: 28px;
    height: 28px;
    border-radius: 50%;
    background-position: 2px 2px;
    margin: 0px 5px;
}

.sq-pers-preset-link:active, .sq-pers-preset-link:hover{
    color: white;
}
.sq-pers-preset-link.enabled {
    background: #cddaef !important;
}
.sq-pers-preset-link.enabled:after{
    /*
    content: " ";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #50a938;
    */
}
.sq-pers-present-link__full {
    /* position: absolute; */
    text-overflow: ellipsis;
    line-height: 1.6em;
    top: 3.8em;
    padding: 0.1em 0.5em;
    border-radius: 4px;
    z-index: 1;
    /* left: -70%; */
    /* width: 200%; */
    font-size: 0.9em;
    /* border: 2px solid; */
    color: black;
    white-space: nowrap;
}
.active .sq-pers-present-link__full {
    display: block !important;
    margin: 0.4em 0;
}
.sq-pers-preset__inner {
    transform: scale(0.75, 1.1);
    position: absolute;
    left: 0;
    right: 0;
}
.sq-pers-present-link__full-arrow {
    content: " ";
    width: 7px;
    height: 7px;
    display: block;
    background: white;
    position: absolute;
    left: 46%;
    transform: rotate(45deg);
    top: -0.5em;
    z-index: -1;
    border: 2px solid;
    border-bottom: none;
    border-right: none;
}
.sq-pers-preset-list__show-more {
    border: 1px solid #dbdbdb;
    width: 100%;
    display: block;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #f5f5f5;
    text-decoration: none;
    color: #2b2b2b;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.45em 0;
    box-sizing: border-box;
}

.sq-pers__profile {
    margin-top: 1em;
    margin-left: 1em;
    z-index: 9999;
    border: 2px solid tomato;
    padding: 1em;
    background: white;
    border-radius: 3px;
    position: relative;
    z-index: 88;
}
.sq-pers__profile__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
}
.persona-header__close {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0.7em;
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    transform: scaleY(0.9);
    line-height: 2em;
    font-weight: lighter;
}
.sq-pers__profile.null-persona {
    border: 1px solid #cfcfcf;
    background: white;
}
.sq-pers__profile__user__icon {
    background-image: url(https://educause-web01.squiz.cloud/__data/assets/file/0009/1413/user-icon.svg);
    width: 40px;
    height: 40px;
    background-color: #9d7ed5;
    border-radius: 50%;
    border: 2px solid #9d7ed5;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1em;
}
.sq-pers__profile.null-persona .sq-pers__profile__user__icon {
    background-color: #e0e0e0;
    border-color: #e0e0e0;    
}
.sq-pers__profile__header {
    display: table;
    margin-bottom: 1em;
}
.sq-pers__profile__summary {
    border-top: 1px solid #b0cff6;
    border-bottom: 1px solid #b0cff6;
    padding: 1em 0;
    font-size: 0.9em;
}
.sq-pers__profile.null-persona .sq-pers__profile__summary{
    border-color: #cfcfcf;
}
.sq-pers__profile h2 {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    max-width: 205px;
}
.sq-pers__profile h3 {
    font-size: 1em !important;
}
.sq-pers__trait-list {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.sq-pers__trait-list .row {
    background: white;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
}
.sq-pers__trait-list .trait-key {
    padding: 0.5em;
    margin: 0.3em;
}
.sq-pers__trait-list .trait-val {
    background: #ffffdd;
    padding: 0.5em 1em;
    margin: calc(0.3em - 1px);
    border-radius: 2px;
    border: 1px solid #fafaaa;
}







.sq-pers-sidebar-tabs{
    display: flex;
}
.sq-pers-sidebar-tab {
    padding: 0.45em 1.5em;
    display: block;
    background: white;
    border: 1px solid #dbdbdb;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}
.sq-pers-sidebar-tab.active {
    color: white;
    background: #3d98e1;
    border-color: #2d78b7;
}
.sq-pers-sidebar-tab:first-child {  
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sq-pers-sidebar-tab:last-child {  
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.sq-pers-test-field.active:after {
    content: " ";
    width: 5px;
    height: 5px;
    background: #faff5f;
    border-radius: 50%;
    border: 1px solid #b6bb32;
    display: block;
    position: absolute;
    left: -0.3em;
    top: 1.1em;
    margin-top: -0.2em;
}



/* begin boolean switcher plugin copy */
body.previewMode .onoffswitch{
    width: 68px;
    position:relative;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none
}
body.previewMode .sq-pers__test__toggle .onoffswitch{
    margin-top: 0.4em;
}
body.previewMode .onoffswitch input[type="checkbox"]{
    display:none
}
body.previewMode .onoffswitch label{
    display:block;
    cursor:pointer;
    overflow:hidden;
    border-radius:20px
}
body.previewMode .onoffswitch-inner{
    width:200%;
    display:block;
    margin-left:-100%;
    transition:margin 0.3s ease-in 0s
}
body.previewMode .onoffswitch-inner:after,body.previewMode .onoffswitch-inner:before{
    padding:0;
    float:left;
    width:50%;
    height:30px;
    display:block;
    line-height:30px;
    color:white;
    font-weight:bold;
    box-sizing:border-box
}
body.previewMode .onoffswitch-inner:before{
    content:attr(data-txt-on);
    color: black;
    padding-left:10px;
    background-color:#3F98E1;
    background-color: white;
    /* text-shadow:0 0 2px rgba(0,0,0,0.5); */
    text-shadow: none;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    font-weight: normal;
}
body.previewMode .onoffswitch-inner:after{
    content:attr(data-txt-off);
    color: black;
    text-align:right;
    padding-right:10px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    font-weight: normal;
}
body.previewMode .onoffswitch-switch{
    margin:6px;
    width:18px;
    height: 18px;
    display:block;
    background:white;
    top: 1px;
    bottom:0;
    right: 38px;
    position:absolute;
    border-radius:20px;
    border:1px solid #CCC;
    background: #b8b8b8;
    transition: all 0.3s ease-in 0s;
}
body.previewMode .onoffswitch input[type=checkbox]:checked+label .onoffswitch-inner{
    margin-left:0
}
body.previewMode .onoffswitch input[type=checkbox]:checked+label .onoffswitch-switch{
    right:0px
}
/* override */
body.previewMode .onoffswitch-switch{
    margin: 4px;
}

/* end boolean switcher plugin copy */
