.sq-pers-current-state {
    margin-bottom: 1em;
}
.sq-pers-current-state-preview__header {
    color: black;
    display: flex;
}
.sq-pers-current-state-preview {
    border-radius: 5px;
    overflow: hidden;
}

.sq-pers-current-state-preview__header .sq-pers-current-state-preview__cell {
    background: #E1E1E4;
    padding: 1em;
    border-right: 1px solid #ccc;
}
.sq-pers-current-state-preview__cell:first-child {
    border-right: 1px solid #ccc;
}


.sq-pers-current-state-preview__row {
    display: flex;
}

.sq-pers-current-state-preview__cell {
    background: white;
    padding: 1em;
    width: 100%;
    text-align: left;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.sq-pers-query-editor-preview .sq-pers-current-state-preview__cell:first-child {
    width: 150px;
    border-left: 1px solid #efefef;
}

.sq-pers-query-editor-preview__delete {
    position: absolute;
    right: 2em;
    background: url(./?a=28649);
    text-decoration: none;
    text-indent: -999px;
    width: 13px;
    height: 14px;
}
.sq-pers-editor-details{
    width: 100%;
}